{% extends 'base.html' %}
{% load static %}

{% block title %}
	Մեր մասին | About us
{% endblock %}

{% block main %}

<div class="col-10 cont_div">
	<img width="100%" src="{% static 'img/banner/aboutpic.jpg' %}" alt="">
	<p>
		<h1>Global IT (ՍՊԸ)</h1>
	</p>
	<div class="col-10 cont_div_div">
		   Ողջույն։ Ես՝ Գևորգ Քոսյանս <strong>«GLOBAL IT»</strong> ՍՊԸ-ի հիմնադիր և գործադիր տնօրենն եմ։  
Մեր նպատակն է նպաստել ՏՏ ոլորտի զարգացմանը կրթական և փոքր ու միջին ՏՏ ընկերություններին ուղղված ծրագրերի միջոցով։ <br>
   Կենտրոնը նախաձեռնում է մի շարք ծրագրեր և նախագծեր, որոնց շարքում են որակյալ ծրագրավորողների պատրաստմանն ուղղված դասընթացները և ծրագրավորման ճամբարները, ինչպես նաև թիմերին և ստարտափերին ուղղված ծրագրերը, որոնց միջոցով աջակցություն է տրամադրվում նորարար ՏՏ պրոդուկտների մշակման հարցում։
	</div>
	<p>
		<h2>Մեր գործունեությունը</h2>
	</p>
	<div class="col-10 cont_div_div">
	Նպատակները`<br>  
1. ուժեղացնել Հայաստանում հատկապես քաղաք Հրազդանում տեխնիկական կրթության 
   զարգացմանը, <br> 
2. նպաստել դպրոցականների մասնագիտական կողմնորոշմանը,  <br> 
3. պատրաստել տեխնիկական կրթությամբ մասնագիտական աշխատուժ, որը կբավարարի աճող պահանջարկը:<br> 
  Նախագիծը՝ իր ակնկալվող լայնամասշտաբ սոցիալ-տնտեսական ազդեցությամբ, հարում է ազգային անվտանգության, տնտեսական զարգացման և կրթության ազգային ռազմավարություններին: Նախագծի իրականացման կարևորագույն արդյունքներն են`<br> 
    1. տեխնոլոգիական կրթության խթանումը, <br> 
2. տեխնոլոգիական զբաղվածության ընդլայնումը  <br> 
3. հավելյալ տնտեսական ակտիվության ստեղծումը ինչպես բարձր տեխնոլոգիաների, այնպես էլ հարակից ոլորտներում:Հատկանշական է, որ բացի նշված տնտեսական գործոններից, նախագիծն ազդեցության մեծ ներուժ ունի սոցիալական արժեքների կերտման ասպարեզում: Այս համակարգը կհանգեցնի մտածելակերպային փոփոխության, կդաստիարակի նոր՝ ստեղծարար արժեքներ, որոնք կառողջացնեն սոցիալական արժեհամակարգը երիտասարդների շրջանում: <br> 
Տեխնոլոգիական կրթության զարգացման ուղղությամբ նմանատիպ մեծամասշտաբ նախաձեռնության իրականացումը կբերի համաշխարհային ասպարեզում Հայաստանի դիրքերի ամրապնդմանը՝ որպես գիտելիքահենք երկիր։
	</div>
	<p>
		<h2>Տեխնիկական ենթակառուցվածք և ծրագրեր:</h2>
	</p>
	<div class="col-10 cont_div_div">
	  Կենտրոնի կրթական ծրագրերը հիմնված են ուսուցման առաջատար մեթոդոլոգիաների և գործիքների, գիտահետազոտական և կրթական ինստիտուտների ֆիզիկայի և ինժեներության ուղղվածության հետազոտությունների վրա: Այս ծրագրերը սկսվում են հիմնական ծրագրավորման սկզբունքներից և ուղղորդում են երեխաներին դեպի ռոբոտաշինություն և գործունեություն հետազոտական և ստեղծարար մթնոլորտում: <br>
  Կենտրոնը նորարարական կրթական ծրագիր է ներկայացնում դիզայնի և տեխնոլոգիաների միջակայքում: Դպրոցում պատանիները սովորում են, որովհետև ունեն դրա ցանկությունը: Նրանց տրվում են անհրաժեշտ բոլոր գործիքները սեփական ներուժը առավելագույնս իրացնելու համար։ <br>
  Ուսանողներն իրենք են նախագծում սեփական կրթական շավիղը գործնական վարժանքների, դասընթացների ու աշխատարանների միջոցով:
	</div>
	<p>
		<h2>Կրթական ծրագիր</h2>
	</p>
	<div class="col-10 cont_div_div">
	Կրթական ծրագիրը բաղկացած է ինքնուսուցողական վարժանքներից, դասընթացներից և աշխատարաններից՝ 17 ոլորտներում։ Պատանիները սրանք համակցում են՝ շարժվելով անձնական Schoolpointes (Ուսումնական միավոր) շառավղով, որը թարմացվում է ըստ իրենց փոփոխվող հետաքրքրությունների ու առաջխաղացման։
<a href="#"><strong>Անիմացիա</strong><br></a>
<a href="#"><strong>Խաղերի ստեղծում</strong><br></a>
<a href="#"><strong>Ֆիլմերի ստեղծում</strong><br></a>
<a href="#"><strong>Երաժշտություն</strong><br></a>
<a href="#"><strong>Ստեղծագրություն</strong><br></a>
<a href="#"><strong>Ռոբոտաշինություն</strong><br></a>
<a href="#"><strong>Նկարչություն</strong><br></a>
<a href="#"><strong>Գրաֆիկական դիզայն</strong><br></a>
<a href="#"><strong>Եռաչափ մոդելավորում</strong><br></a>
<a href="#"><strong>Շարժական գրաֆիկա</strong><br></a>
<a href="#"><strong>Լուսանկարչություն</strong><br></a>
<a href="#"><strong>Մուլտիմեդիա</strong><br></a>
<a href="#"><strong>Սպորտ</strong><br></a>
<a href="#"><strong>Բիզնես Մարքեթինգ</strong><br></a>
<a href="#"><strong>Արվեստ</strong><br></a>
<a href="#"><strong>Ծրագրավորում (web, mobile, C++, C#, Java, Android...)</strong><br></a>
	</div>
</div>

{% endblock %}